.wrapper {
    background-color: #fff;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.2);
    position: fixed;
    bottom: 0;
    z-index: 100;
    padding: 15px 30px;
    border-radius: 50px 50px 0 0;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.bnItem {
    flex: 1 1 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.bnItem:hover {
    opacity: 0.5;
}
.bnItem img {
    width: 20px;
    height: 20px;
    margin: 5px;
}
.bnItem span {
    font-size: 16px;
    color: var(--pale-color);
    
    margin: 5px;
}

@media (min-width: 600px) {
    .wrapper{
        max-width: 80%;
    }
}
@media (min-width: 768px) {
    .wrapper{
        max-width: 70%;
    }
}
@media (min-width: 992px) {
    .wrapper{
        max-width: 60%;
    }
}
@media (min-width: 1200px) {
    .wrapper{
        max-width: 40%;
    }
}