.todosItemsContainer {
  background-color: var(--bg-color);
  box-shadow: 0 0 5px  rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 20px;
  margin: 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1 1 230px;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}
.todosItemsDone {
  text-decoration: line-through;
  text-decoration-color: var(--primary-color);
  opacity: 0.5;
}
.todosItemsContainer img {
  width: 20px;
}
.todosItemsContainer h2 {
  font-size: 1.2rem;
}
.todosItemsContainer p {
  color: var(--pale-color);
  font-size: 0.8rem;
  margin: 5px;
}
.todosItemsPriority {
  background-color: var(--primary-color);
  color: #fff;
  padding: 5px 50px;
  position: absolute;
  top: 20px;
  right: -40px;
  transform: rotate(45deg);
  font-size: 1.2rem;
  font-weight: 500;
  margin: 10px 0;
}
.todosItemsTime {
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 5px;
}
.todosItemsTime span {
  color: var(--primary-color);
  font-size: 0.8rem;
  margin-left: 5px;
  margin-bottom: 3px;
}
.todosItemsActionIcons {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: 10px;
}
.todosItemsActionIcons  img{
  margin: 5px;
  cursor: pointer;
  transition: 0.3s;
}

  
  

